.venv/
.uv-cache/
__pycache__/
.DS_Store
*.log
*.pyc
.env
.pytest_cache
.ruff_cache/
.mypy_cache/
.turbo/
node_modules/
.next/
out/
dist/
coverage/
htmlcov/
*.egg-info/

# Miscellaneous
project-structure.txt
cleanser.py
file_structure.txt
.vercel
