@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  color: black;
  font-family: sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1; /* Make the main content fill the remaining space */

}
